include LICENSE
include README.md
include docs/en/inference_deployment/whl_deploy_en.md
recursive-include deploy/python *.py
recursive-include deploy/utils *.py
recursive-include ppcls/arch *.py
recursive-include ppcls/utils *.py *.txt
recursive-include deploy/configs *.yaml
