Django==3.2.8
faiss==1.5.3
faiss_cpu==1.7.1.post2
fuzzywuzzy==0.18.0
numpy==1.21.3
opencv_python==4.4.0.46
paddle==1.0.2
paddle_serving_app==0.6.3
paddle_serving_server==0.6.3
paddle_serving_server_gpu==0.6.3.post102
paddlehub==2.1.1
paddlepaddle==2.1.3
paddleslim==2.1.1
Pillow==8.4.0
prettytable==2.2.1
psutil==5.8.0
pyDes==2.0.1
PyMySQL==1.0.2
python_memcached==1.59
PyYAML==6.0
requests==2.22.0
scikit_learn==1.0.1
scipy==1.7.1
setuptools==45.2.0
six==1.14.0
tqdm==4.62.3
visualdl==2.2.0
xpinyin==0.7.6
