Global:
  checkpoints: null
  pretrained_model: null
  output_dir: ./output/
  device: gpu
  save_interval: 10                 
  eval_during_train: True
  eval_interval: 1
  epochs: 300                     
  print_batch_step: 10
  use_visualdl: False
  image_shape: [3, 224, 224]
  save_inference_dir: ./inference
  update_freq: 4
  distributed: True  

Arch:
  name: replknet    
  class_num: 1000
  use_sync_bn: True  

EMA:
  decay: 0.9999

 
# loss function config for traing/eval process
Loss:
  Train:
    - SoftTargetCrossEntropy:   
        weight: 1.0
  Eval:
    - CELoss:
        weight: 1.0


Optimizer:
  name: AdamW               
  beta1: 0.9               
  beta2: 0.999             
  epsilon: 1e-8            
  weight_decay: 0.05      
  clip: None  
  lr:
    name: Cosine
    learning_rate: 0.004  
    eta_min: 1e-06      
    warmup_epoch: 10     
    warmup_start_lr: 1e-06  
    by_epoch: True    
    last_epoch: 0

AMP:   
  scale_loss: 32768.0  
  use_dynamic_loss_scaling: True
  # O1: mixed fp16
  level: O1     



# data loader for train and eval
DataLoader:
  Train:
    dataset:
      name: ImageNetDataset
      image_root:  ./dataset/ILSVRC2012/
      cls_label_path:  ./dataset/ILSVRC2012/train_list.txt
      transform_ops:
        - DecodeImage: 
            to_rgb: True
            channel_first: False
        - RandCropImage:
            size: 224
            interpolation: bicubic
            backend: pil
        - RandomHorizontalFlip:  
            prob: 0.5
        - TimmAutoAugment:
            config_str: rand-m9-mstd0.5-inc1
            interpolation: bicubic
            img_size: 224
        - NormalizeImage:
            scale: 1.0/255.0
            mean: [0.485, 0.456, 0.406]
            std: [0.229, 0.224, 0.225]
            order: ''
        - RandomErasing:
            EPSILON: 0.25      
            sl: 0.02        
            sh: 1.0/3.0    
            r1: 0.3        
            attempt: 10    
            use_log_aspect: True   
            mode: pixel     

      batch_transform_ops:  
        - OpSampler:
            MixupOperator:
              alpha: 0.8
              prob: 0.5
            CutmixOperator:
              alpha: 1.0
              prob: 0.5
    sampler:
      name: DistributedBatchSampler
      batch_size: 64       
      drop_last: True      
      shuffle: True
    loader:
      num_workers: 4   
      use_shared_memory: True

  Eval:
    dataset: 
      name: ImageNetDataset
      image_root: ./dataset/ILSVRC2012/
      cls_label_path: ./dataset/ILSVRC2012/val_list.txt
      transform_ops:
        - DecodeImage:
            to_rgb: True
            channel_first: False
        - ResizeImage:
            resize_short: 256
            interpolation: bicubic
            backend: pil
        - CenterCrop: 
            size: 224
        - NormalizeImage:
            scale: 1.0/255.0
            mean: [ 0.485, 0.456, 0.406 ]
            std: [ 0.229, 0.224, 0.225 ]
            order: ''
    sampler:
      name: DistributedBatchSampler
      batch_size: 64
      drop_last: False
      shuffle: False
    loader:
      num_workers: 4 
      use_shared_memory: True

Infer: 
  infer_imgs: docs/images/inference_deployment/whl_demo.jpg
  batch_size: 10
  transforms:
    - DecodeImage:
        to_rgb: True
        channel_first: False
    - ResizeImage:
        resize_short: 256
    - CropImage:
        size: 224
    - NormalizeImage:
        scale: 1.0/255.0
        mean: [ 0.485, 0.456, 0.406 ]
        std: [ 0.229, 0.224, 0.225 ]
        order: ''
    - ToCHWImage:
  PostProcess:
    name: Topk
    topk: 5
    class_id_map_file: ppcls/utils/imagenet1k_label_list.txt

Metric:
  Train:
    - TopkAcc:
        topk: [1, 5]
  Eval:
    - TopkAcc:
        topk: [1, 5]
